# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
.temp/
.vscode/
source/build/
source/docs/
source/Doxyfile

source/CMakeLists.txt

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon?
._*

# Thư mục Spotlight và Trash
.Spotlight-V100
.Trashes

# Thư mục tạm và metadata khác
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Tạm thời khi mount ổ
.AppleDB
.AppleDesktop
Network Trash Folder
